# Seleção das colunas mais relevantes de BASICO GO

Features Basico_GO.csv

V001 - Domicílios particular

V002 - Moradores  em  domicílios  particulares

V003 - Médio do número de moradores em domicílio

V004 - Variância do número de moradores

V005 - Valor do rendimento nominal médio mensal das pessoas responsáveis pelo domicílio

V006 - Variância do rendimento nominal médio

V007 - Valor do rendimento nominal médio mensal das pessoas responsáveis pelo domicílio com rendimento

V008 - Variância do rendimento nominal médio V007

V009 - Valor  do  rendimento  nominal  médio  mensal  das  pessoas  de  10 anos ou mais de idade (com e sem rendimento) 

V010 - Variância V009

V011 -Valor  do  rendimento  nominal  médio  mensal  das  pessoas  de  10 anos ou mais de idade (com rendimento)

V012 - Variância V011

In [22]:
import pandas as pd

ibge = pd.read_csv("/home/lisamenezes/Searches/pipeline-dados-PDM/data/IBGE/Base informaçoes setores2010 universo GO/CSV/Basico_GO.csv",
                    encoding='Latin-1', sep=';')
ibge

,Cod_setor,Cod_Grandes Regiões,Nome_Grande_Regiao,Cod_UF,Nome_da_UF,Cod_meso,Nome_da_meso,Cod_micro,Nome_da_micro,Cod_RM,...,V004,V005,V006,V007,V008,V009,V010,V011,V012,Unnamed: 32
0,520005005000001,5,Região Centro-Oeste,52,Goiás,5203,Centro Goiano,52010,Goiânia,36,...,"2,03","1485,31","4234430,88","1587,75","4364943,77","927,42","2755835,32","1258,39","3325042,03",NaN
1,520005005000002,5,Região Centro-Oeste,52,Goiás,5203,Centro Goiano,52010,Goiânia,36,...,"1,89","717,21","903696,62","843,2","956451,76",551,"603807,51","775,35","675856,69",NaN
2,520005005000003,5,Região Centro-Oeste,52,Goiás,5203,Centro Goiano,52010,Goiânia,36,...,"1,8","1096,56","1457639,94","1194,38","1470867,07","637,88","839265,15","973,88","954257,57",NaN
3,520005005000004,5,Região Centro-Oeste,52,Goiás,5203,Centro Goiano,52010,Goiânia,36,...,"2,05","1222,68","1538841,68","1285,38","1537154,18","667,09",849749,"984,76","941759,99",NaN
4,520005005000005,5,Região Centro-Oeste,52,Goiás,5203,Centro Goiano,52010,Goiânia,36,...,"2,03","831,73","883290,65","1022,8","890883,42","529,98","589542,45","904,55","667983,64",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9429,522230205000009,5,Região Centro-Oeste,52,Goiás,5204,Leste Goiano,52012,Entorno de Brasília,0,...,"2,91","809,61","1123158,83","934,17","1180478,05","410,02","546153,01","768,33","749956,95",NaN
9430,522230205000010,5,Região Centro-Oeste,52,Goiás,5204,Leste Goiano,52012,Entorno de Brasília,0,...,"3,92","571,66","319459,01","699,64","301301,75","329,45","232182,64","643,04","251607,47",NaN
9431,522230205000011,5,Região Centro-Oeste,52,Goiás,5204,Leste Goiano,52012,Entorno de Brasília,0,...,"2,19","1035,81","1154678,03","1088,47","1156086,43","282,82","382834,46","729,93","663755,25",NaN
9432,522230205000012,5,Região Centro-Oeste,52,Goiás,5204,Leste Goiano,52012,Entorno de Brasília,0,...,"1,24","728,72","289974,63","768,11","274987,99","368,31","248968,74","675,23","249204,69",NaN
9433,522230205000013,5,Região Centro-Oeste,52,Goiás,5204,Leste Goiano,52012,Entorno de Brasília,0,...,"4,58","545,88","434400,7","629,15","448514,79","293,43","227844,83","578,32","284850,96",NaN

In [24]:
ibge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9434 entries, 0 to 9433
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cod_setor            9434 non-null   int64
 1   Cod_Grandes Regiões  9434 non-null   int64
 2   Nome_Grande_Regiao   9434 non-null   object
 3   Cod_UF               9434 non-null   int64
 4   Nome_da_UF           9434 non-null   object
 5   Cod_meso             9434 non-null   int64
 6   Nome_da_meso         9434 non-null   object
 7   Cod_micro            9434 non-null   int64
 8   Nome_da_micro        9434 non-null   object
 9   Cod_RM               9434 non-null   int64
 10  Nome_da_RM           9434 non-null   object
 11  Cod_municipio        9434 non-null   int64
 12  Nome_do_municipio    9434 non-null   object
 13  Cod_distrito         9434 non-null   int64
 14  Nome_do_distrito     9434 non-null   object
 15  Cod_subdistrito      9434 non-null   int64
 16  Nome_do_subdistrito  9434 non-null   object
 17  Cod_bairro           9434 non-null   int64
 18  Nome_do_bairro       9434 non-null   object
 19  Situacao_setor       9434 non-null   int64
 20  V001                 9428 non-null   float64
 21  V002                 9428 non-null   float64
 22  V003                 9428 non-null   object
 23  V004                 9428 non-null   object
 24  V005                 9428 non-null   object
 25  V006                 9428 non-null   object
 26  V007                 9426 non-null   object
 27  V008                 9426 non-null   object
 28  V009                 9434 non-null   object
 29  V010                 9434 non-null   object
 30  V011                 9432 non-null   object
 31  V012                 9432 non-null   object
 32  Unnamed: 32          0 non-null      float64
dtypes: float64(3), int64(11), object(19)
memory usage: 2.4+ MB

In [25]:
print(ibge.columns)

Index(['Cod_setor', 'Cod_Grandes Regiões', 'Nome_Grande_Regiao', 'Cod_UF',
       'Nome_da_UF ', 'Cod_meso', 'Nome_da_meso', 'Cod_micro', 'Nome_da_micro',
       'Cod_RM', 'Nome_da_RM', 'Cod_municipio', 'Nome_do_municipio',
       'Cod_distrito', 'Nome_do_distrito', 'Cod_subdistrito',
       'Nome_do_subdistrito', 'Cod_bairro', 'Nome_do_bairro', 'Situacao_setor',
       'V001', 'V002', 'V003', 'V004', 'V005', 'V006', 'V007', 'V008', 'V009',
       'V010', 'V011', 'V012', 'Unnamed: 32'],
      dtype='object')

In [26]:
ibge['Nome_da_UF '].unique()

array(['Goiás'], dtype=object)

##### COLUNA 'Situacao_setor'

- Situação urbana – códigos: 1, 2 e 3 

- 1 - Área urbanizada de cidade ou vila 

- 2 - Área não-urbanizada de cidade ou vila 

- 3 - Área urbana isolada 

- Situação rural – códigos: 4, 5, 6, 7 e 8. 

- 4 - Aglomerado rural de extensão urbana 

- 5 - Aglomerado rural isolado – povoado 

- 6 - Aglomerado rural isolado – núcleo 

- 7 - Aglomerado rural isolado - outros aglomerados

- 8 - Zona rural, exclusive aglomerado rural

## Features escolhidas

In [27]:
ibge = ibge[['Nome_do_subdistrito', 'Nome_do_bairro', 'Situacao_setor', 'V001', 'V002', 'V005', 'V007', 'V009','V011']]
ibge.head()

,Nome_do_subdistrito,Nome_do_bairro,Situacao_setor,V001,V002,V005,V007,V009,V011
0,ABADIA DE GOIÁS,ABADIA DE GOIÁS (todos os setores),1,124.0,409.0,"1485,31","1587,75","927,42","1258,39"
1,ABADIA DE GOIÁS,ABADIA DE GOIÁS (todos os setores),1,261.0,796.0,"717,21","843,2",551,"775,35"
2,ABADIA DE GOIÁS,ABADIA DE GOIÁS (todos os setores),1,464.0,1521.0,"1096,56","1194,38","637,88","973,88"
3,ABADIA DE GOIÁS,ABADIA DE GOIÁS (todos os setores),1,246.0,863.0,"1222,68","1285,38","667,09","984,76"
4,ABADIA DE GOIÁS,ABADIA DE GOIÁS (todos os setores),8,91.0,251.0,"831,73","1022,8","529,98","904,55"

### transformando os dados

Tratamento em strings
Tratamento em nulos (como as variaveis nulas foram todas sobre renda, entendemos como inexistente. Além disso, o valor de nulos diante do dataset é praticamente irrelevante)

In [37]:
ibge.shape

(9434, 9)

In [39]:
# Colunas com valores nulos
print(ibge.isnull().sum())

Nome_do_subdistrito    0
Nome_do_bairro         0
Situacao_setor         0
V001                   6
V002                   6
V005                   6
V007                   8
V009                   0
V011                   2
dtype: int64

In [30]:
from unidecode import unidecode

# transformações nos dados
# 
# Função para transformar texto: remover acentos e deixar em maiúsculas
def transformar_string(valor):
    if isinstance(valor, str):  # Verifica se é uma string
        return unidecode(valor).upper()
    return valor  # Retorna o valor original se não for string

# Aplica a transformação em todas as colunas de tipo string
for col in ibge.select_dtypes(include=["object"]).columns:
    ibge[col] = ibge[col].apply(transformar_string)

/tmp/ipykernel_1986137/1626820063.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ibge[col] = ibge[col].apply(transformar_string)

In [40]:
# Substituir todos os valores nulos no DataFrame por zero
ibge.fillna(0, inplace=True)

# Verificar se ainda existem valores nulos
print(ibge.isnull().sum())  # Deve mostrar zero para todas as colunas

Nome_do_subdistrito    0
Nome_do_bairro         0
Situacao_setor         0
V001                   0
V002                   0
V005                   0
V007                   0
V009                   0
V011                   0
dtype: int64

/tmp/ipykernel_1986137/3401946070.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ibge.fillna(0, inplace=True)

In [41]:
ibge.head()

,Nome_do_subdistrito,Nome_do_bairro,Situacao_setor,V001,V002,V005,V007,V009,V011
0,ABADIA DE GOIAS,ABADIA DE GOIAS (TODOS OS SETORES),1,124.0,409.0,"1485,31","1587,75","927,42","1258,39"
1,ABADIA DE GOIAS,ABADIA DE GOIAS (TODOS OS SETORES),1,261.0,796.0,"717,21","843,2",551,"775,35"
2,ABADIA DE GOIAS,ABADIA DE GOIAS (TODOS OS SETORES),1,464.0,1521.0,"1096,56","1194,38","637,88","973,88"
3,ABADIA DE GOIAS,ABADIA DE GOIAS (TODOS OS SETORES),1,246.0,863.0,"1222,68","1285,38","667,09","984,76"
4,ABADIA DE GOIAS,ABADIA DE GOIAS (TODOS OS SETORES),8,91.0,251.0,"831,73","1022,8","529,98","904,55"

#### Filtrando apenas Goiânia

'GOIANIA (TODOS OS SETORES)'

In [43]:
ibge['Nome_do_bairro'].unique()

array(['ABADIA DE GOIAS (TODOS OS SETORES)',
       'ABADIANIA (TODOS OS SETORES)', 'ACREUNA (TODOS OS SETORES)',
       'ADELANDIA (TODOS OS SETORES)',
       'AGUA FRIA DE GOIAS (TODOS OS SETORES)',
       'AGUA LIMPA (TODOS OS SETORES)',
       'AGUAS LINDAS DE GOIAS (TODOS OS SETORES)',
       'ALEXANIA (TODOS OS SETORES)', 'ALOANDIA (TODOS OS SETORES)',
       'ALTO HORIZONTE (TODOS OS SETORES)',
       'ALTO PARAISO DE GOIAS (TODOS OS SETORES)',
       'ALVORADA DO NORTE (TODOS OS SETORES)',
       'AMARALINA (TODOS OS SETORES)',
       'AMERICANO DO BRASIL (TODOS OS SETORES)',
       'AMORINOPOLIS (TODOS OS SETORES)', 'ANAPOLIS (TODOS OS SETORES)',
       'ANHANGUERA (TODOS OS SETORES)', 'ANICUNS (TODOS OS SETORES)',
       'APARECIDA DE GOIANIA (TODOS OS SETORES)',
       'APARECIDA DO RIO DOCE (TODOS OS SETORES)',
       'APORE (TODOS OS SETORES)', 'ARACU (TODOS OS SETORES)',
       'ARAGARCAS (TODOS OS SETORES)', 'ARAGOIANIA (TODOS OS SETORES)',
       'ARAGUAPAZ (TODOS OS SETORES)', 'ARENOPOLIS (TODOS OS SETORES)',
       'ARUANA (TODOS OS SETORES)', 'AURILANDIA (TODOS OS SETORES)',
       'AVELINOPOLIS (TODOS OS SETORES)', 'BALIZA (TODOS OS SETORES)',
       'BARRO ALTO (TODOS OS SETORES)',
       'BELA VISTA DE GOIAS (TODOS OS SETORES)',
       'BOM JARDIM DE GOIAS (TODOS OS SETORES)',
       'BOM JESUS DE GOIAS (TODOS OS SETORES)',
       'BONFINOPOLIS (TODOS OS SETORES)', 'BONOPOLIS (TODOS OS SETORES)',
       'BRAZABRANTES (TODOS OS SETORES)', 'BRITANIA (TODOS OS SETORES)',
       'BURITI ALEGRE (TODOS OS SETORES)',
       'BURITI DE GOIAS (TODOS OS SETORES)',
       'BURITINOPOLIS (TODOS OS SETORES)',
       'CABECEIRAS (TODOS OS SETORES)',
       'CACHOEIRA ALTA (TODOS OS SETORES)',
       'CACHOEIRA DE GOIAS (TODOS OS SETORES)',
       'CACHOEIRA DOURADA (TODOS OS SETORES)', 'CACU (TODOS OS SETORES)',
       'CAIAPONIA (TODOS OS SETORES)', 'CALDAS NOVAS (TODOS OS SETORES)',
       'CALDAZINHA (TODOS OS SETORES)',
       'CAMPESTRE DE GOIAS (TODOS OS SETORES)',
       'CAMPINACU (TODOS OS SETORES)', 'CAMPINORTE (TODOS OS SETORES)',
       'CAMPO ALEGRE DE GOIAS (TODOS OS SETORES)',
       'CAMPO LIMPO DE GOIAS (TODOS OS SETORES)',
       'CAMPOS BELOS (TODOS OS SETORES)',
       'CAMPOS VERDES (TODOS OS SETORES)',
       'CARMO DO RIO VERDE (TODOS OS SETORES)',
       'CASTELANDIA (TODOS OS SETORES)', 'CATALAO (TODOS OS SETORES)',
       'CATURAI (TODOS OS SETORES)', 'CAVALCANTE (TODOS OS SETORES)',
       'CERES (TODOS OS SETORES)', 'CEZARINA (TODOS OS SETORES)',
       'CHAPADAO DO CEU (TODOS OS SETORES)',
       'CIDADE OCIDENTAL (TODOS OS SETORES)',
       'COCALZINHO DE GOIAS (TODOS OS SETORES)',
       'COLINAS DO SUL (TODOS OS SETORES)',
       'CORREGO DO OURO (TODOS OS SETORES)',
       'CORUMBA DE GOIAS (TODOS OS SETORES)',
       'CORUMBAIBA (TODOS OS SETORES)', 'CRISTALINA (TODOS OS SETORES)',
       'CRISTIANOPOLIS (TODOS OS SETORES)', 'CRIXAS (TODOS OS SETORES)',
       'CROMINIA (TODOS OS SETORES)', 'CUMARI (TODOS OS SETORES)',
       'DAMIANOPOLIS (TODOS OS SETORES)', 'DAMOLANDIA (TODOS OS SETORES)',
       'DAVINOPOLIS (TODOS OS SETORES)', 'DIORAMA (TODOS OS SETORES)',
       'DOVERLANDIA (TODOS OS SETORES)', 'EDEALINA (TODOS OS SETORES)',
       'EDEIA (TODOS OS SETORES)', 'ESTRELA DO NORTE (TODOS OS SETORES)',
       'FAINA (TODOS OS SETORES)', 'FAZENDA NOVA (TODOS OS SETORES)',
       'FIRMINOPOLIS (TODOS OS SETORES)',
       'FLORES DE GOIAS (TODOS OS SETORES)', 'FORMOSA (TODOS OS SETORES)',
       'FORMOSO (TODOS OS SETORES)',
       'GAMELEIRA DE GOIAS (TODOS OS SETORES)',
       'DIVINOPOLIS DE GOIAS (TODOS OS SETORES)',
       'GOIANAPOLIS (TODOS OS SETORES)', 'GOIANDIRA (TODOS OS SETORES)',
       'GOIANESIA (TODOS OS SETORES)', 'GOIANIA (TODOS OS SETORES)',
       'GOIANIRA (TODOS OS SETORES)', 'GOIAS (TODOS OS SETORES)',
       'GOIATUBA (TODOS OS SETORES)', 'GOUVELANDIA (TODOS OS SETORES)',
       'GUAPO (TODOS OS SETORES)', 'GUARAITA (TODOS OS SETORES)',
       'GUARANI DE GOIAS (TODOS OS SETORES)',
       'GUARINOS (TODOS OS SETORES)', 'HEITORAI (TODOS OS SETORES)',
       'HIDROLANDIA (TODOS OS SETORES)', 'HIDROLINA (TODOS OS SETORES)',
       'IACIARA (TODOS OS SETORES)', 'INACIOLANDIA (TODOS OS SETORES)',
       'INDIARA (TODOS OS SETORES)', 'INHUMAS (TODOS OS SETORES)',
       'IPAMERI (TODOS OS SETORES)',
       'IPIRANGA DE GOIAS (TODOS OS SETORES)', 'IPORA (TODOS OS SETORES)',
       'ISRAELANDIA (TODOS OS SETORES)', 'ITABERAI (TODOS OS SETORES)',
       'ITAGUARI (TODOS OS SETORES)', 'ITAGUARU (TODOS OS SETORES)',
       'ITAJA (TODOS OS SETORES)', 'ITAPACI (TODOS OS SETORES)',
       'ITAPIRAPUA (TODOS OS SETORES)', 'ITAPURANGA (TODOS OS SETORES)',
       'ITARUMA (TODOS OS SETORES)', 'ITAUCU (TODOS OS SETORES)',
       'ITUMBIARA (TODOS OS SETORES)', 'IVOLANDIA (TODOS OS SETORES)',
       'JANDAIA (TODOS OS SETORES)', 'JARAGUA (TODOS OS SETORES)',
       'JATAI (TODOS OS SETORES)', 'JAUPACI (TODOS OS SETORES)',
       'JESUPOLIS (TODOS OS SETORES)', 'JOVIANIA (TODOS OS SETORES)',
       'JUSSARA (TODOS OS SETORES)', 'LAGOA SANTA (TODOS OS SETORES)',
       'LEOPOLDO DE BULHOES (TODOS OS SETORES)',
       'LUZIANIA (TODOS OS SETORES)', 'MAIRIPOTABA (TODOS OS SETORES)',
       'MAMBAI (TODOS OS SETORES)', 'MARA ROSA (TODOS OS SETORES)',
       'MARZAGAO (TODOS OS SETORES)', 'MATRINCHA (TODOS OS SETORES)',
       'MAURILANDIA (TODOS OS SETORES)',
       'MIMOSO DE GOIAS (TODOS OS SETORES)', 'MINACU (TODOS OS SETORES)',
       'MINEIROS (TODOS OS SETORES)', 'MOIPORA (TODOS OS SETORES)',
       'MONTE ALEGRE DE GOIAS (TODOS OS SETORES)',
       'MONTES CLAROS DE GOIAS (TODOS OS SETORES)',
       'MONTIVIDIU (TODOS OS SETORES)',
       'MONTIVIDIU DO NORTE (TODOS OS SETORES)',
       'MORRINHOS (TODOS OS SETORES)',
       'MORRO AGUDO DE GOIAS (TODOS OS SETORES)',
       'MOSSAMEDES (TODOS OS SETORES)', 'MOZARLANDIA (TODOS OS SETORES)',
       'MUNDO NOVO (TODOS OS SETORES)', 'MUTUNOPOLIS (TODOS OS SETORES)',
       'NAZARIO (TODOS OS SETORES)', 'NEROPOLIS (TODOS OS SETORES)',
       'NIQUELANDIA (TODOS OS SETORES)',
       'NOVA AMERICA (TODOS OS SETORES)',
       'NOVA AURORA (TODOS OS SETORES)', 'NOVA CRIXAS (TODOS OS SETORES)',
       'NOVA GLORIA (TODOS OS SETORES)',
       'NOVA IGUACU DE GOIAS (TODOS OS SETORES)',
       'NOVA ROMA (TODOS OS SETORES)', 'NOVA VENEZA (TODOS OS SETORES)',
       'NOVO BRASIL (TODOS OS SETORES)', 'NOVO GAMA (TODOS OS SETORES)',
       'NOVO PLANALTO (TODOS OS SETORES)', 'ORIZONA (TODOS OS SETORES)',
       'OURO VERDE DE GOIAS (TODOS OS SETORES)',
       'OUVIDOR (TODOS OS SETORES)', 'PADRE BERNARDO (TODOS OS SETORES)',
       'PALESTINA DE GOIAS (TODOS OS SETORES)',
       'PALMEIRAS DE GOIAS (TODOS OS SETORES)',
       'PALMELO (TODOS OS SETORES)', 'PALMINOPOLIS (TODOS OS SETORES)',
       'PANAMA (TODOS OS SETORES)', 'PARANAIGUARA (TODOS OS SETORES)',
       'PARAUNA (TODOS OS SETORES)', 'PEROLANDIA (TODOS OS SETORES)',
       'PETROLINA DE GOIAS (TODOS OS SETORES)',
       'PILAR DE GOIAS (TODOS OS SETORES)',
       'PIRACANJUBA (TODOS OS SETORES)', 'PIRANHAS (TODOS OS SETORES)',
       'PIRENOPOLIS (TODOS OS SETORES)', 'CENTRO',
       'VILA MILITAR/VILA SUMAIA/VILA NOVA JARDIM GOIAS',
       'NOSSA SENHORA DE LOURDES', 'NOVA VILA',
       'COLEGIAL/VILA GRAMBERY/FIME/EURIPEDES LAZARO',
       'SAMPAIO/PARQUE SILVANA/SAO JOAO/JARDIM AMARAL',
       'SETOR DOS BANCARIOS',
       'SANTA TEREZINHA/SAO SEBASTIAO/VILA SINHO NOGUEIRA',
       'SAO JOSE/DERGO/SANTA RITA DE CASSIA/ELIZA GALLI', 'SANTA CECILIA',
       'ARISTEU J. FERREIRA/TANCREDO NEVES/ZULMIRA/CORUMBA II',
       'SAO MIGUEL/SAO FRANCISCO', 'JARDIM GUANABARA', 'JARDIM MARATA',
       'SETOR INDUSTRIAL/MAUA', 'MOSAICO/ESPLANADA/SONHO VERDE',
       'JARDIM JOAO MONTEIRO/BOUGANVILLE', 'PARQUE SANTANA/HENE SAUD',
       'JK', 'PIRES DO RIO (DEMAIS SETORES)',
       'PLANALTINA (TODOS OS SETORES)', 'PONTALINA (TODOS OS SETORES)',
       'PORANGATU (TODOS OS SETORES)', 'PORTEIRAO (TODOS OS SETORES)',
       'PORTELANDIA (TODOS OS SETORES)', 'SETOR AUGUSTO JOSE VALENTE I',
       'SETOR DOM PRUDENCIO', 'SETOR VILA MORENA', 'SETOR CENTRAL',
       'SETOR DOS FUNCIONARIOS', 'VILA SAO JOSE', 'VALE DO AMANHECER',
       'CAFELANDIOS', 'SETOR AUGUSTO JOSE VALENTE II',
       'SETOR SANTA LUZIA', 'SETOR GUARANI', 'SETOR MAE BELA',
       'SETOR BUENOS AIRES', 'POSSE (DEMAIS SETORES)',
       'PROFESSOR JAMIL (TODOS OS SETORES)',
       'QUIRINOPOLIS (TODOS OS SETORES)', 'RIALMA (TODOS OS SETORES)',
       'RIANAPOLIS (TODOS OS SETORES)', 'RIO QUENTE (TODOS OS SETORES)',
       'RIO VERDE (TODOS OS SETORES)', 'RUBIATABA (TODOS OS SETORES)',
       'SANCLERLANDIA (TODOS OS SETORES)',
       'SANTA BARBARA DE GOIAS (TODOS OS SETORES)',
       'SANTA CRUZ DE GOIAS (TODOS OS SETORES)',
       'SANTA FE DE GOIAS (TODOS OS SETORES)',
       'SANTA HELENA DE GOIAS (TODOS OS SETORES)',
       'SANTA ISABEL (TODOS OS SETORES)',
       'SANTA RITA DO ARAGUAIA (TODOS OS SETORES)',
       'SANTA RITA DO NOVO DESTINO (TODOS OS SETORES)',
       'SANTA ROSA DE GOIAS (TODOS OS SETORES)',
       'SANTA TEREZA DE GOIAS (TODOS OS SETORES)',
       'SANTA TEREZINHA DE GOIAS (TODOS OS SETORES)',
       'SANTO ANTONIO DA BARRA (TODOS OS SETORES)',
       'SANTO ANTONIO DE GOIAS (TODOS OS SETORES)',
       'SANTO ANTONIO DO DESCOBERTO (TODOS OS SETORES)',
       'SAO DOMINGOS (TODOS OS SETORES)',
       'SAO FRANCISCO DE GOIAS (TODOS OS SETORES)',
       "SAO JOAO D'ALIANCA (TODOS OS SETORES)",
       'SAO JOAO DA PARAUNA (TODOS OS SETORES)',
       'SAO LUIS DE MONTES BELOS (TODOS OS SETORES)',
       'SAO LUIZ DO NORTE (TODOS OS SETORES)',
       'SAO MIGUEL DO ARAGUAIA (TODOS OS SETORES)',
       'SAO MIGUEL DO PASSA QUATRO (TODOS OS SETORES)',
       'SAO PATRICIO (TODOS OS SETORES)', 'SAO SIMAO (TODOS OS SETORES)',
       'SENADOR CANEDO (TODOS OS SETORES)',
       'SERRANOPOLIS (TODOS OS SETORES)', 'SILVANIA (TODOS OS SETORES)',
       'SIMOLANDIA (TODOS OS SETORES)',
       "SITIO D'ABADIA (TODOS OS SETORES)",
       'TAQUARAL DE GOIAS (TODOS OS SETORES)',
       'TERESINA DE GOIAS (TODOS OS SETORES)',
       'TEREZOPOLIS DE GOIAS (TODOS OS SETORES)',
       'TRES RANCHOS (TODOS OS SETORES)', 'TRINDADE (TODOS OS SETORES)',
       'TROMBAS (TODOS OS SETORES)', 'TURVANIA (TODOS OS SETORES)',
       'TURVELANDIA (TODOS OS SETORES)', 'UIRAPURU (TODOS OS SETORES)',
       'URUACU (TODOS OS SETORES)', 'URUANA (TODOS OS SETORES)',
       'URUTAI (TODOS OS SETORES)',
       'VALPARAISO DE GOIAS (TODOS OS SETORES)',
       'VARJAO (TODOS OS SETORES)', 'VIANOPOLIS (TODOS OS SETORES)',
       'VICENTINOPOLIS (TODOS OS SETORES)', 'VILA BOA (TODOS OS SETORES)',
       'VILA PROPICIO (TODOS OS SETORES)'], dtype=object)

In [ ]:
ibge['Nome_do_bairro'].unique()

In [44]:
ibge_goiania = ibge[ibge['Nome_do_bairro'] == 'GOIANIA (TODOS OS SETORES)']

ibge_goiania

,Nome_do_subdistrito,Nome_do_bairro,Situacao_setor,V001,V002,V005,V007,V009,V011
3239,U.T.P. CENTRAL,GOIANIA (TODOS OS SETORES),1,276.0,642.0,"2432,47","2543,03","1588,1","2084,38"
3240,U.T.P. CENTRAL,GOIANIA (TODOS OS SETORES),1,225.0,491.0,"2198,14","2389,29","1512,69","2008,52"
3241,U.T.P. CENTRAL,GOIANIA (TODOS OS SETORES),1,250.0,584.0,"1787,44","1885,48","1233,05","1513,68"
3242,U.T.P. CENTRAL,GOIANIA (TODOS OS SETORES),1,217.0,363.0,"2209,32","2282,96","1730,26","2051,34"
3243,U.T.P. CENTRAL,GOIANIA (TODOS OS SETORES),1,214.0,571.0,"3044,29","3257,39","1871,55","2607,5"
...,...,...,...,...,...,...,...,...,...
4863,VILA RICA,GOIANIA (TODOS OS SETORES),1,153.0,499.0,"625,73","709,16","444,66","659,82"
4864,VILA RICA,GOIANIA (TODOS OS SETORES),8,79.0,220.0,"877,33","911,96","523,06","801,2"
4865,VILA RICA,GOIANIA (TODOS OS SETORES),8,107.0,314.0,"1563,64","1593,43","937,16","1303,24"
4866,VILA RICA,GOIANIA (TODOS OS SETORES),3,94.0,282.0,"3674,87","3796,02","2176,48","3047,07"
4867,VILA RICA,GOIANIA (TODOS OS SETORES),5,105.0,323.0,"1664,62","1801,91","1123,47","1468,73"

In [45]:
ibge_goiania.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1629 entries, 3239 to 4867
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Nome_do_subdistrito  1629 non-null   object
 1   Nome_do_bairro       1629 non-null   object
 2   Situacao_setor       1629 non-null   int64
 3   V001                 1629 non-null   float64
 4   V002                 1629 non-null   float64
 5   V005                 1629 non-null   object
 6   V007                 1629 non-null   object
 7   V009                 1629 non-null   object
 8   V011                 1629 non-null   object
dtypes: float64(2), int64(1), object(6)
memory usage: 127.3+ KB

In [46]:
# Agora é só faltar os dados em silver e agregar com os outros
ibge_goiania.to_csv('../data/silver/ibge_goiania.csv')